:root {
    --text1: Lucida;
    --color1: turquoise;
}
 
body {
    margin: 0;
    padding: 0;
    box-sizing: hidden;
    font-family:   sans-serif;
}



             /* ---------Navbar Section____ */
.navbar {
    display: flex;
    justify-content: center;
    background-color: rgb(86, 92, 91, 0.7) !important ;
    padding: 15px 0;
    letter-spacing: 0.2em;
    
}
.navbar .d-flex #navbarNav ul li {
    text-transform: uppercase;
    color: white;
}
.navbar .d-flex #navbarNav ul li a {
    
    color: white;
    transition: 0.3s;
    transition: transform 0.3s ease-in;

    
}
.navbar .d-flex #navbarNav ul li a:hover{
color: turquoise;
transform: scale(1.1);
}
.navbar .d-flex .navbar-toggler {
    color: white ;
    margin-right: 10px;
    border: 2px;
    transition: 0.3s;
    
}
.navbar .d-flex .navbar-toggler:hover{
    color: turquoise;
}

/* ---------------Heading Section */
.head1{
    position: absolute;
    top: 40%;
    width: 100%;
}
.jumbotron .jumboCopy img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    max-height: 100%;
    
}
.jumbotron .jumboCopy .head1 h1{
    color: white;
    font-weight: 300;
    font-family: var(--text1);
    letter-spacing: 9px;
    text-transform: uppercase;
    transition: transform 0.3s ease-in;
}
.jumbotron .jumboCopy .head1 h3{
    color: white;
    font-weight: 300;
    font-family: 'Lucida Sans';
    letter-spacing: 9px;
    word-spacing: 20px;
    text-transform: uppercase;
    transition: transform 0.3s ease-in;
}
.jumbotron .jumboCopy .head1 a{
    color: white;
    font-weight: 300;
    font-family: 'Lucida Sans';
    letter-spacing: 5px;
    word-spacing: 10px;
    text-transform: uppercase;
    transition: 0.3s;
    transition: transform 0.3s ease-in;
}

.jumbotron .jumboCopy .head1 a:hover{
    color: turquoise;
    transform: scale(1.1);
}
.jumbotron .jumboCopy .head1 h1:hover{
    transform: scale(1.1);
}
.jumbotron .jumboCopy .head1 h3:hover{
    transform: scale(1.1);
}

/* -----------Skill Section ----------- */
#skills .text-center h2 {
    font-family: var(--text1) ;
    word-spacing: 15px;
    letter-spacing: 5px;
    font-weight: bold;
    font-family: var(--text1);
    text-transform: uppercase;
}
#skills .container-lg .row .card img {
   
    height: 150px;
    border-radius: 80%;
    transition:  0.3 ease;
    height: 85px;
}
#skills .container-lg .row .card img:hover{
    transform: scale(1.1);
    
}
#skills .container-lg .row .card {
    border-top: none;
    border-bottom: none;
    height: 250px;
}
#skills .container-lg .row .card .card-body p{
    font-size: 0.9em;
}


/* --------Work Section ---------- */
#portfolio h2 {
    font-family: var(--text1);
    font-weight: bold;
    font-family: var(--text1);
    text-transform: uppercase;
}
#portfolio h2 .container-lg img {
    transition: 0.3s;
    transition: transform 0.3s ease-in;
}
#portfolio .container-lg .card {
    border: solid 2px ;
    text-align: center;
   
}
#portfolio .container-lg .card p {
    font-family: var(--text1);
   text-transform: uppercase;
}
#portfolio .container-lg .card:hover {
    color: turquoise;
transform: scale(1.1);
}
/* ------About me Section ---- */
#about h2{
    font-family: var(--text1);
    text-transform: uppercase;
    font-weight: bold;
}
#about .card {
    border: none;
}
#about .card  {
font-family: var(--text1);

}
#about .card
